name: Release

on:
    workflow_call:
        inputs:
            artifact-name:
                description: The name of the artifact that is used for the release.
                required: false
                type: string
                default: ""
            asset-path:
                description: Path to the artifact's asset which is added to the release.
                required: false
                type: string
                default: ""
            target-branch:
                description: Branch that is updated after release was created.
                required: false
                type: string
                default: ""
    push:
        tags: ["v*.*.*"]

jobs:
    create-release:
        name: Create new Release
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - name: Checkout repository
              uses: actions/checkout@v5

            - name: Download release artifact
              if: ${{ inputs.artifact-name != '' }}
              uses: actions/download-artifact@v6
              with:
                  name: ${{ inputs.artifact-name }}

            - name: Create Release
              uses: docker://antonyurchenko/git-release:v5
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  args: ${{ inputs.asset-path }}

    update-branch:
        name: Update target branch
        if: ${{ inputs.target-branch != '' }}
        runs-on: ubuntu-latest
        needs: create-release
        permissions:
            contents: write
        steps:
            - name: Checkout repository
              uses: actions/checkout@v5

            - name: Merge current branch -> target branch
              uses: devmasx/merge-branch@master
              with:
                  type: now
                  target_branch: ${{ inputs.target-branch }}
                  github_token: ${{ secrets.GITHUB_TOKEN }}
