name: Lint and Publish Wiki

on:
    push:
        branches:
            - main
    pull_request:

jobs:
    lint-wiki:
        name: Lint Markdown
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v5

            - name: Lint Markdown
              uses: ./src/wiki-lint
              with:
                  repository: SE-UUlm/snowballr-ci
                  source-branch: main
                  ignore-paths: "src"
